<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Host</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs/jwt-decode.min.js"></script>
    <script src="js/libs/js.cookie.js"></script>
    <script src="js/host.js"></script>
</head>
<body>
    <h1>Buzz In</h1>
</body>
</html>