<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Host</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs/socket.io.js"></script>
    <script src="js/libs/jwt-decode.min.js"></script>
    <script src="js/libs/js.cookie.js"></script>
    <script src="js/host.js"></script>
</head>
<body>
    <h1>Buzz In</h1>
    <h2 id="accessCode"></h2>
    <button id="endGameBtn">End game</button>
    <span id="response"></span>
    <div id="teams"></div>
    <div id="leaderboard"></div>
    <div id="controls">
        <div id="beginQuestionDiv">
            <span id="beginQuestionRes"></span>
            <input type="text" id="questionVal" placeholder="Question value">
            <button id="beginQuestionBtn">Begin question</button>
        </div>
        <div id="questionResponseDiv" hidden>
            <div>
                <select id="correctAnsSelect"></select>
                <button id="correctAnsBtn">Correct answer</button>
            </div>
            <button id="incorrectAnsBtn">Incorrect answer</button>
            <button id="endQuestionBtn">End question</button>
        </div>
    </div>
</body>
</html>