<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Host</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs/socket.io.js"></script>
    <script src="js/libs/jwt-decode.min.js"></script>
    <script src="js/libs/js.cookie.js"></script>
    <script src="js/host.js"></script>
</head>
<body>
    <div class="viewport">
        <h1>Buzz In</h1>
        <h2 id="accessCode"></h2>
        <h2 id="response"></h2>
        <div id="controls" class="form">
            <div id="beginQuestionDiv" class="form">
                <span id="beginQuestionRes"></span>
                <label>Question Value</label>
                <input type="number" id="questionVal">
                <button id="beginQuestionBtn" class="base-button small-button">Begin question</button>
            </div>
            <div id="questionResponseDiv" hidden>
                <div>
                    <select id="correctAnsSelect"></select>
                    <button id="correctAnsBtn" class="base-button small-button">Correct answer</button>
                </div>
                <div>
                <button id="incorrectAnsBtn" class="base-button small-button">Incorrect answer</button>
                <button id="endQuestionBtn" class="base-button small-button">End question</button>
                </div>
            </div>
        </div>
        <div id="teams"></div>
        <button id="endGameBtn" class="base-button small-button">End game</button>
    </div>
</body>
</html>