<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buzz In</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs/jwt-decode.min.js"></script>
    <script src="js/libs/js.cookie.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <div class="viewport">
    <h1>Buzz In</h1>
    <div class="form">
        <h3>Join a game</h3>
            <span id="joinFormResponse"></span>
            <label>Name</label>
            <input type="text" id="name">
            <label>Access Code</label>
            <input type="text" id="accessCode">
            <a id="submitJoinForm" class="big-button">Join</a>
            <h3>or</h3>
            <div class="big-button"><a href="create.html">Create</a></div>
    </div>
    </div>
</body>
</html>