<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buzz In</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs/jwt-decode.min.js"></script>
    <script src="js/libs/js.cookie.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <h1>Buzz In</h1>
    <div>
        <h2>Join a lobby</h2>
        <div>
            <span id="joinFormResponse"></span>
            <input type="text" id="name" placeholder="Name">
            <input type="text" id="accessCode" placeholder="Access Code">
            <button id="submitJoinForm">Join</button>
        </div>
    </div>
    <h3>or</h3>
    <div>
        <h2><a href="create.html">Create a new lobby</a></h2>
    </div>
</body>
</html>