<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page Not Found</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="viewport">
        <h1>Buzz In</h1>
        <h2>HTTP 404</h2>
        <h3 style="font-weight: 300">oWo What's this?</h3>
        <h3 style="font-weight: 300">You stumbled unto the wrong page, click <a href="index.html" style="color:#DB2B39">here</a> to go back</h3>
    </div>
</body>
</html>