html{
    height: 100%;
    background-color: #f0f0f0;
    color:#F3A712;
}

h1{
    font-family: "Wendy One";
    font-size: 500%;
    margin: 30px 0 10px 0;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    height: 100%;
    margin:0;
}

.viewport{
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
    font-weight: 300;
}

h3{
    position: relative;
    text-align: center;
    height: 32px;
}

#accessCode{
    font-weight: 400;
    font-size: 175%;
    margin: 10px 0;
    color:#DB2B39;
}

#host-action{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}

#host-action select{
    font-size: 60%;
}

#questionResponseDiv{
    min-width: 300px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form{
    display: flex;
    min-width: 400px;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color:inherit;
}

a:visited{
    text-decoration: none;
    color:inherit;
}

a:active{
    text-decoration: none;
    color:inherit;
}

input[type=text], input[type=number]{
    font-size: 175%;
    font-family: "Roboto";
    font-weight: 300;
    margin:10px 0;
    border: none;
    border-radius: 10px;
    padding: 2px 10px;
    width: calc(100% - 20px);
    background-color: #fdfdfd;
    color:black;
    margin-top: 0;
}

.joint-field{
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

input[type=number]{
    width: 70px;
    margin:0;
    margin-right: 15px;
    flex-grow: 1;
}

#accessCode{
    background: #fafafa;
    padding: 5px 15px;
    border-radius: 10px;
}

label{
    align-self: flex-start;
}

select{
    background-color: #F3A712;
    color:white;
    outline: none;
    border: none;
    padding: 2px 7px;
    margin:2px 0;
    font-size: 80%;
    border-radius: 10px;
}

.base-button{
    font-size: 175%;
    border: none;
    text-align: center;
    min-height: 50px;
    background: #DB2B39;
    border-radius: 10px;
    padding: 5px;
    font-family: "Roboto";
    font-weight: 400;
    color:white !important;
    width: calc(100% - 10px);
    max-width: 500px;
    border:2px solid white;
    box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    text-transform: capitalize;
}

#gameHUD{
    min-width: 300px;
    text-align: center;
}

.small-button{
    font-size: 125%;
    max-width: 200px;
    padding: 3px;
    margin: 5px 0;
}

.icon-button{
    font-size: 60%;
    min-height: 0;
    padding: 2px;
    min-width: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-self: center;
    text-align: center;
    display: flex;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
}

.icon-button .material-icons{
    font-size: 100%;
}

.icon-button:hover{
    box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
    0px 9px 12px 1px rgba(0, 0, 0, 0.14),
    0px 3px 16px 2px rgba(0, 0, 0, 0.12);
}

.base-button[disabled]{
    background: #efa0a7;
}

.base-button[disabled]:hover{
    box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    cursor: default;
}

.tiny-button{
    font-size: 80%;
    max-width: 100px;
    padding: 2px;
    min-height: 0px;
}

.base-button:hover{
    box-shadow:0px 1px 8px 0px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 3px 3px -2px rgba(0, 0, 0, 0.12); 
    cursor: pointer;
}

#beginQuestionDiv{
}

#teams{
    overflow-y: scroll;
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    padding:0 10%; 
    justify-content: center;
}

.team-name{
    font-family: "Wendy One";
    font-size: 125%;
    color:white;
}

.team-info{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background: #DB2B39;
    margin: 0;
    position: relative;
}

.rank, .score{
    font-size: 90%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team{
    min-width: 400px;
    margin: 10px 20px;
    display: inline-block;
    flex-grow: 1;
}

ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
}

li{
    padding: 5px 15px;
    background: #d5d5d5;
    color:#909090;
    font-weight: 400;
    font-size: 115%;
}

li:nth-child(2n){
    background: #dedede;
}

.rank{
    color:white;
    text-align: center;
    background: #ababab;
}

.first{
    background: #F3A712;
}

.second{
    background: #dedede;
}

.third{
    background: #cd7f32;
}

.score{
    text-align: right;
    color:white;
    font-family: monospace;
}

#inputs{
    margin: 0 50px;
}

@media only screen and (max-width: 1000px) {
    .desktop-only{
        display: none;
    }
    
    h1{
        font-size: 3.5em;
    }
    
    body{
        padding: 1em;
        height: calc(100% - 2em);
    }
    
    input[type=text], #accessCode{
        font-size: 1.618em;
    }
    
    .base-button{
        font-size: 1.618em;
        min-height: 0;
    }
    
    .form{
        min-width: 0;
    }
    
    .viewport{
        width: 100%;
        position: relative;
        margin: 0;
        min-height: calc(100% - 2em);
    }
    
    #teams{
        padding: 0 2%;
        width: 100%;
    }
    
    .rank{
        padding: 5px;
    }
    
    .team{
        min-width: 90%;
        flex-grow: 1;
        margin: 5px 4px;
    }
    
    .icon-button{
        font-size: .75em;
    }
    
    .score{
        
    }
    
    .team-name{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .team-info{
        width: 100%;
        font-size: 1.5em;
    }
}